# builds
_deps/
build/
CMakeFiles/
lib/
Testing/
third_party/

# IDE
.vscode

# License files
LICENSE.dec.aes
LICENSE.dec.pkcrypt
LICENSE.enc.aes
LICENSE.enc.pkcrypt

# test/test_compat.cc can leave compat.zip handing around
compat.zip